@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Control Escolar</h1>
    <h2>Bienvenido al sistema de Control Escolar</h2>
    <p class="lead">El sistema te permitira llevar un control de los alumnos y asignarles las materias correspondientes
    <br />
    Haz click en el enlace
    </p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Alumnos</h2>
        <p>
            En el modulo de alumnos lleva el control de tus estudiantes. Visualiza la lista de los alumnos, actualiza 
            sus datos, agregar a alumnos nuevos o dalos de baja del sistema.
        </p>
        
        <p>Da click aqui <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Materia</h2>
        <p>En el modulo de materia lleva el control de las materias que imparte tu institucion. Visualiza la lista de las materias, actualiza
            sus datos, agregar mas materias o dalas de baja del sistema.</p>
        <p>Da click aqui<a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Materias de alumnos</h2>
        <p>En este modulo lleva el control de las materias que son asignadas a cada alumno, agrega o da de baja las materias que cursa.</p>
        <p>Da click aqui<a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>